body
{
	background-color: grad;
	margin: 0px;
	display: block;
	font-family: arial;
	background-image: url('anhphong1.png');
	background-repeat: repeat;
	background-position: center;
	

}
h2
{
	color: black;
	
}
#shopping
{
		width: 91px;
		height: 20px;
		font-family: FontAwesome;
		float: left;
		padding-left: 400px;
}

div
{
	display:block;
}
i
{
	font-size:30px;
	color: yellow;
}
*{
	box-sizing: border-box;
}
#header
{
	width: 100%;
	height: 134px;
	background-color: orange;
	border: 1px solid green;
}

#nav1{
	float: left;
	
	margin-right:30px;
}
#nav2
{

	background-color: F5447B;
	float: left;
    position: relative;
    top: 10px;
    width: 24%;
	height: 40px;
}
.down{
	height: 50px;
	width: 80%;
	margin: 0 auto;
}
.search{
	height: 40px;
	width: 550px;
	background-color: white;
	margin-left: 60px;
	border-radius: 5px;
}
.search input{
	width: 480px;
	height: 35px;
	border: 0px;
	padding-left: 20px;
	font-size: 15px;
	border-radius: 5px;

}
.search button{
	/*height: 35px;*/
	border: 0px;
}
.search button img{
	width: 20px;
	height: auto;
	vertical-align: middle;
}
.cart-zone
{
    width: 150px;
    height: 52px;
    background-color:#ddd;
    border: 1px solid yellow;
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    top: 0px;
    right: 10px;
}
.cart-label
{
    line-height: 52px;
    position: absolute;
    top: 0px;
    left: 10px;
}
.cart-img
{
    width: 36px;
    position: absolute;
    top:10px;
    right: 10px;
    float: left;
}
.cart-amount
{
    line-height: 20px;
    width: 20px;
    height: 20px;
    top:10px;
    right: 10px;
    position: absolute;
    color:rgb(45, 87, 223);
    border-radius:50%;
    background-color:yellow;
}

#menumenu
{
	width:100%;
	height:40px;
	background-color:green;
}
#menu{
	height: 40px;
	width: 1000px;
	background-color: green;
	margin: auto;
	position: absolute;
	left: 60px;
}
#menu ul{
	margin: 0px;
	list-style: none;
	padding: 0px;
}
#menu ul li{
	float: left;
	line-height: 40px;
	font-size: 20px;
	margin-right: 30px;
}
#menu ul li a{
	display: block;
	text-decoration: none;
	color: #FFF;
	padding: 0px 40px;
	width: 100%;
}
#menu ul li a:hover{
	background-color: Red;
	
}



#menu ul ul{
	width: 200px;
	background-color: #EEE;
	display: none;
	
}
#menu li li{
	float: none;
}
#menu ul li:hover ul{
	display: block;
	

}
#menu li li a{
	color: purple;
	font-size: 12px;
}
#menu li li a:hover{
	color:white;
}


#icon
{
	float: right;
}

#logo1
{
	width: 20px;
	height: 20px;
}
#dong1
{
	margin:auto;
	padding-left: 400px;
	font-weight: 100;
	background-color:grad;
	
}
#main1
{
	width:100%;
	height: 500px;
	background-color:pink;
	
}
#main2
{
	width:100%;
	height:500px;
	background-color:pink;
}

#footer
{
	width: 100%;
	height: 50px;
	background-color:black;
}
.row::after {  
	content: "";  
	clear: both;  
	display: table;
}

/* For mobile phones: */
[class*="col-"] {
  float: left;
  padding: 15px;

}
/*for mobile*/
@media only screen and (max-width: 600px) {
	.col-s-1{width:8.33%;}
	.col-s-2{width:16.66%;}
	.col-s-3{width:25%;}
	.col-s-4{width:33.33%;}
	.col-s-5{width:41.66%;}
	.col-s-6{width:50%;}
	.col-s-7{width:58.33%;}
	.col-s-8{width:66.66%;}
	.col-s-9{width:75%;}
	.col-s-10{width:83.33%;}
	.col-s-11{width:91.66%;}
	.col-s-12{width:100%;}
	

#menumenu{
		display: none;
	}
}
/*for medium diveces*/
@media only screen and (max-width: 768px) {
	.col-m-1{width:8.33%;}
	.col-m-2{width:16.66%;}
	.col-m-3{width:25%;}
	.col-m-4{width:33.33%;}
	.col-m-5{width:41.66%;}
	.col-m-6{width:50%;}
	.col-m-7{width:58.33%;}
	.col-m-8{width:66.66%;}
	.col-m-9{width:75%;}
	.col-m-10{width:83.33%;}
	.col-m-11{width:91.66%;}
	.col-m-12{width:100%;}

}

/*for large divices*/
@media only screen and (min-width: 992px){
	
	.col-1{width:8.33%;}
	.col-2{width:16.66%;}
	.col-3{width:25%;}
	.col-4{width:33.33%;}
	.col-5{width:41.66%;}
	.col-6{width:50%;}
	.col-7{width:58.33%;}
	.col-8{width:66.66%;}
	.col-9{width:75%;}
	.col-10{width:83.33%;}
	.col-11{width:91.66%;}
	.col-12{width:100%;}
}
.product{	
	width: 100%;
	height: 375px;
	text-align: center;
	float: left;
	margin-right: 20px;
	border: 1px solid #CCC;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;	
	
}

.product:hover{
	box-shadow: 0px 0px 5px 5px #CCC;
	cursor: pointer;
}

.product-right{
	margin-right: 0px;
}

.product img{
	max-width: 198px;
	height: 233px;
	border-radius: 10px;
}
.product a{
	font-size: 16px;
	text-decoration: none;
	color: blue;
	display: block;
	padding: 10px;
}
.price{
	color: Red;
	font-weight: bold;
	padding: 10px;
}






